<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/JustSAT/Drills/raw/master/Drills.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/JustSAT/Drills/raw/master/small.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/JustSAT/Drills/raw/master/big.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>H96HCT9TFK</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
